@import "../styles/base.css";

.navlinks {
    position: fixed;
    left: -150%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    list-style: none;
}

.navlinks.open {
    left: 0;
}

.navlinks a {
    text-decoration: none;
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: #007bff;
}

.hamburger {
    position: fixed;
    z-index: 1;
    cursor: pointer;
    justify-content: center;
    justify-self: center;
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    padding: 10px;
}

.footer p {
    color: #ffffff;
    font-size: 14px;
}