@import "../styles/base.css";

.navbar {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #202020;
    opacity: 0.9;
    width: 100%;
    z-index: 2;
}

.navbar h1 {
    color: white;
    font-weight: 500;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.navlinks {
    position: fixed;
    display: flex;
    background-color: #363636;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.navlinks.open {
    transform: translateX(100vw);
}

.navlinks a {
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
    font-size: 34px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: #007bff;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    opacity: 0.9;
    padding: 10px;
    z-index: 2;
}

.footer p {
    color: #ffffff;
    font-size: 14px;
}