body {
    background: linear-gradient(135deg, #c1c1da, #4e4e53);
    margin: 0;
    padding: 0;
    height: 100%;
}

body a {
    text-decoration: none;
    color: inherit;
}

code.h1 {
    font-size: 5rem;
}

code.h2 {
    font-size: 30px;
}

code.p {
    font-size: 20px;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: transparent;
    }
}

.section {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-shadow: 5px 5px 10px rgba(75, 75, 75, 0.2);
}

.section code.h1 {
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
    animation: typewriter 2s steps(13) 1 normal forwards,
              blink 1s steps(13) infinite normal;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid black;
    display: inline-block;
    min-width: auto;
}

.listheader {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.listheader code.p {
    align-self: left;
    text-align: left;
    white-space: nowrap;
    margin: 0;
}

.listheader .organization {
    margin-bottom: 10px;
}

.listheader .organization a {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
}

.listheader .name {
    font-weight: bold;
}

.listheader .date {
    font-style: italic;
}

ul {
    list-style-position: outside;
    padding-left: 0;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 50px;
}

.logocontainer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.logocontainer img {
    width: auto;
    height: 100%;
}

.imgcontainer {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.imgcontainer img {
    width: auto;
    height: 100%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}