body {
    background: linear-gradient(135deg, #c1c1da, #4e4e53);
    margin: 0;
    padding: 0;
    height: 100%;
}

body a {
    text-decoration: none;
    color: inherit;
}

.content {
    margin-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 0.5rem;
    max-width: 64rem;
}

.content p {
    margin: 0;
}
